.modal-container {
    position: relative;
    display: inline;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
    display: inline;
}

button.btn.btn-sm.btn-info{
    display:inline-block;
}

.edit{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 17px;
    height: 20px !important;
    margin: 10px !important;
    margin-bottom: 15px !important;
}

.edit:hover{
    position: relative;
    background-color:transparent;
    color: black;
 }

.edit:focus{
    position: relative;
    display: inline-block;
    background-color:transparent;
    color: black;
    border: none;
    border-color: transparent;
}

.edit:active{
    position: relative;
    display: inline-block;
    background-color:transparent;
    color: black;
    border: none;
    border-color: transparent;
}

button.plusButton{
    border:none;
    font-size: 25px;
    color: green;

}

button.minusButton{
    border:none;
    font-size: 25px;
    color: darkred;
}

button.saveButton{
    border:none;
    font-size: 25px;
    color: black;
}

button.closeButton {
    border:none;
    font-size: 25px;
    color: black;
}

div.modal-body.label{
text-align: left;
}

button.editForm{
    border:none;
    font-size: 45px;
    color: black;
}

h4#contained-modal-title.modal-title{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    color: black;

}


