.modal-container {
    position: relative;
    display: inline;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
    display: inline;
}

button.btn.btn-sm.btn-info{
    display:inline-block;
}

.edit{
    background-color: transparent;
    border: none;
    color: black;
    font-size: 17px;
    margin-bottom: 15px !important;
    float: right;
}

.edit:hover{
    position: relative;
    background-color:transparent;
    color: black;
 }

.edit:focus{
    position: relative;
    display: inline-block;
    background-color:transparent;
    color: black;
    border: none;
    border-color: transparent;
}

.edit:active{
    position: relative;
    display: inline-block;
    background-color:transparent;
    color: black;
    border: none;
    border-color: transparent;
}

button.plusButton{
    border:none;
    font-size: 20px;
    color: green;

}

button.minusButton{
    border:none;
    font-size: 20px;
    color: darkred;
}

button.saveButton{
    border:none;
    font-size: 20px;
    color: black;
}

button.closeButton {
    border:none;
    font-size: 20px;
    color: black;
}

div.modal-body.label{
width: 100%;
}

button.editForm{
    border:none;
    font-size: 16px;
    color: black;
}

h4#contained-modal-title.modal-title{
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    color: black;

}

button.remove{
    float: right;
    background-color:transparent;
    border: none;
    font-size: 16px;
    width: 10%;
    padding-bottom: 6px;
}

div.editButtons{
    width:100%;
}

ul.block{
    font-size: 14px;
padding: 0;
margin: 0;
}

.inputStyle{
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin: auto 0;
}
@media (max-width: 550px) and (min-height: 400px) {

    button.remove{
        background-color:transparent;
        border: none;
    }


    .edit{
        background-color: transparent;
        border: none;
        color: black;
        font-size: 17px;
        margin-bottom: 15px !important;
    }



}

@media (max-width: 1000px) and (min-height: 600px) {

    button.remove{
        background-color:transparent;
        border: none;
    }


    .edit{
        background-color: transparent;
        border: none;
        color: black;
        font-size: 17px;
        margin-bottom: 15px !important;
    }



}


